<section id="body_content_title">
  <% if request.url.downcase.include?("company") %>
    <h1 id="title">Company</h1>
    <nav id="sub-nav">
      <ul>
        <li><a href="/company/our-story">Our Story</a></li>
        <li><a href="/company/leadership">Leadership</a></li>
        <li><a href="/company/advisers">Advisers</a></li>
        <li><a href="/company/contact-us">Contact Us</a></li>
      </ul>
    </nav>
  <% else %>
    <h1 id="title"><%= @page.title %></h1>
  <% end %>
</section>